@font-face {
  font-family: jua;
  src: url("../assets/fonts/Jua-Regular.ttf");
}
.row1 {
  height: 100%;
  overflow: scroll;
}

.table {
  width: 94vw;
  height: 300px;
}

.note_title {
  font-family: jua;
  padding-left: 0.5em;
}
