@font-face {
  font-family: jua;
  src: url("../assets/fonts/Jua-Regular.ttf");
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.row1 {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.table1 {
  width: 95vw;
  height: 75vh;
}

.table {
  width: 95vw;
  height: 300px;
}

.table_main {
  height: 450px;
}

.note_title {
  font-family: jua;
  padding-left: 0.5em;
}

.food_title {
  font-family: jua;
  padding-left: 0.5em;
  text-align: left;
}

.food_table {
  height: 20vh;
  overflow: scroll;
  overflow-x: hidden;
}

ion-slides {
  height: 28vh;
  width: 100vw;
}